html {
    height: 100%;
}

html, body {
    overflow: auto;
    overflow: initial;
}

.font--menu {
    font-size: 1.2em;
    font-weight: bold;
}

.menu-panel {
    font-size: 1em;
    font-weight: bold;
    border: 2px solid silver;
    border-radius: 0.2em;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.header {
    right: 0;
    left: 0;
    display: flex;
    position: fixed;
    z-index: 2;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid silver;
    padding: 0.5em;
    font-family: "Julius Sans One", sans-serif;
}

.header__user-wrapper {
    justify-content: flex-start;
    flex: 1 1000 0%;
    display: flex;
}

.header__logout-wrapper {
    justify-content: flex-end;
    flex: 1;
    display: flex;
}

.header__user {
    /* flex-grow: 1; */
}

.header__logout {
    /* flex-grow: 1; */
}

.header__avatar {
    width: 25px;
    height: 25px;
}

.header__title {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    font-size: 1.8em;
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    margin-top: 3em;
}

.sidebar {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
}


.menu {
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

.menu__item {
    border-top: 1px solid silver;
    padding: 0.2em;
}

.search__option {
    display: flex;
    margin: 0.2em;
    margin-left: 0;
}

.search {
    padding: 0.2em;
}

.search__field {
    margin: 0;
    padding: 0;
}

.search__title {
    margin-bottom: 0.1em;
    display: inline-block;
}

.search__field {
    margin: 0;
    padding: 0;
    outline: 0;
}

.search__check {
    border: 1px solid black;
    border-left: 0;
    margin: 0;
    padding: 0;
    /* appearance: none; */
    /* background-color: red; */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */
    /* font-size: 1.5em; */
    /* width: 1em; */
    /* height: 1em; */
}

.menu__item:first-child {
    border-top: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;    
}

.post {
    margin: 1em 0;
    width: 100%;
    position: relative;
    border: 1px solid black;
}

.post__actions-panel {
    vertical-align: middle;
}

.post__header {
    font-size: 1em;
    margin: 0;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.post__header__right {
    display: flex;
    align-items: center;
}

.post__date {
    display: inline-block;
}

.post__photo {
    width: 100%;
}

.post__like-panel {
    float: left;
    padding-right: 1em;

}

.post__information {

}

.post__description {
    margin: 0;
}

.post__footer {
    padding: 0.5em;
}

.load-more-button {
    margin-bottom: 1em;
}

.footer {
    padding: 0.2em;
    border-top: 1px solid black;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.footer__description {
} 

.footer__update {
}